Index:
  StandardLibrary: No

CompileFlags:
  Add: [-nostdlib, -fno-unwind-tables, -fno-asynchronous-unwind-tables, -Wno-builtin-declaration-mismatch, -xc]
  Compiler: gcc

Diagnostics:
  # im not using cpp... 
  Suppress: []
  
