Index:
  StandardLibrary: false


Diagnostics:
  Includes:
    AnalyzeAngledIncludes: true

CompileFlags:
  Add: [-nostdlib,
    -nostdinc,
    -fno-unwind-tables,
    -fno-asynchronous-unwind-tables,
    -Wno-builtin-declaration-mismatch,
    -xc, -Wno-builtin-requires-header,
    -Wno-incompatible-library-redeclaration,
    -include lib/include/types.h,
    -Ilib/include/]
  Compiler: gcc

InlayHints:
  Enabled: true
  Designators: false
  DeducedTypes: true
  BlockEnd: false

Hover:
  ShowAKA: false
